[Desktop Entry]
Categories=System;
Comment=Deepin Package Manager is used to help users install and remove local package, supports bulk install.
Exec=deepin-deb-installer %F
GenericName=Package Manager
Icon=deepin-deb-installer
MimeType=application/vnd.debian.binary-package;application/x-deb;
Name=Deepin Package Manager
StartupNotify=true
Terminal=false
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[bg]=Deepin Мениджър на пакети се използва, за да помогне на потребителите да инсталират и премахват локален пакет, поддръжка на групово инсталиране.
Comment[ca]=El Gestor de paquets del Deepin s'usa per ajudar els usuaris a instal·lar i eliminar paquets locals. Admet la instal·lació massiva.
Comment[cs]=Správce balíčků se používá k pomoci uživatelům instalovat a odebírat místní balíčky, podporuje hromadnou instalaci.
Comment[da]=Deepin pakkehåndtering bruges til at hjælpe brugere med at installere og fjerne lokal pakke, med understøttelse af masseinstallation.
Comment[de]=Die Deepin Paketverwaltung unterstützt Benutzer beim Installieren und Entfernen von Softwarepaketen und unterstützt zudem die Installation via Stapelverarbeitung.
Comment[es]=Deepin Package Manager es usada para ayudar a los usuarios a instalar y quitar paquete local, soporta instalación en lote.
Comment[et]=Deepin pakihaldur on rakendus, millega kasutajad saavad arvutisse tarkvara paigaldada ja seda sealt eemaldada. Toetab ka hulgipaigaldamist.
Comment[fr]=Le Gestionnaire de Paquets de Deepin est une application pour aider les utilisateurs à gérer les paquets installés, il supporte également l'installation multiple.
Comment[id]=Manajer Paket Deepin digunakan untuk menolong para pengguna install dan menghapus paket lokal, mendukung install massal
Comment[it]=Deepin Package Manager è utile per installare e rimuovere software in locale, supporta inoltre l'installazione massiva. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[lt]=Deepin paketų tvarkytuvė yra naudojama padėti naudotojams įdiegti ir šalinti vietinius paketus, ši programa palaiko masinį įdiegimą.
Comment[ms]=Pengurus Pakej Deepin digunakan digunakan untuk bantu pengguna memasang dan membuang perisian setempat, selain itu ia menyokong pemasangan secara pukal.
Comment[ne]=डिपिन प्याकेज प्रबन्धक, प्याकेज फाइल स्थापना र स्थापना रद्द गर्न प्रयोग हुन्छ 
Comment[nl]=Deepin Pakketbeheer is een applicatie die gebruikers helpt bij het installeren en verwijderen van lokale software, zowel één voor één als meerdere tegelijk.
Comment[pl]=Zarządzanie pakietami Deepin pomaga użytkownikom instalować i usuwać lokalne pakiety, obsługuje instalację zbiorczą.
Comment[pt]=O Deepin Package Manager é uma aplicação utilizada para ajudar os utilizadores a instalar e remover pacotes locais, suporta instalações em massa.
Comment[pt_BR]=O Gerenciador de Pacotes Deepin instala e remove pacotes de software. Suporta instalação em lote.
Comment[ru]=Пакетный Менеджер Deepin используется для помощи пользователям в установке и удалении программного обеспечения, с поддержкой массовой установки.
Comment[sk]=Aplikácia Deepin Správca balíčkov slúži na pomoc používateľom pri inštalácii a odstraňovaní lokálnych balíčkov, podporuje hromadnú inštaláciu.
Comment[sq]=Përgjegjësi Deepin i Paketave përdoret për t’i ndihmuar përdoruesit të instalojnë dhe heqin paketa vendore. Mbulon instalime në masë.
Comment[sr]=Дипин Управник Пакета је програм који помаже корисницима при инсталирању и уклањању локалног софтвера. Подржава групну инсталацију.
Comment[tr]=Deepin Paket Yöneticisi, kullanıcıların yerel uygulamaları kurup kaldırmasını sağlayan ve toplu kurulum özelliği olan bir uygulamadır.
Comment[uk]=Засіб керування пакунками Deepin використовується для полегшення встановлення і вилучення локальних пакунків користувачем. Передбачено підтримку пакетного встановлення.
Comment[zh_CN]=深度软件包管理器用于帮助用户安装和卸载本地软件，支持批量安装。
Comment[zh_TW]=Deepin 軟體包管理器用來幫助使用者安裝和移除本機軟體包。支援批次安裝。
GenericName[ast]=Xestor de paquetes
GenericName[bg]=Мениджър на пакети
GenericName[ca]=Gestor de paquets
GenericName[cs]=Správce balíčků
GenericName[da]=Pakkehåndtering
GenericName[de]=Paketverwaltung
GenericName[es]=Package Manager
GenericName[et]=Pakihaldur
GenericName[fr]=Gestionnaire de paquets Deepin
GenericName[id]=Manajer Paket
GenericName[it]=Package Manager
GenericName[lt]=Paketų tvarkytuvė
GenericName[ms]=Pengurus Pakej
GenericName[ne]=प्याकेज प्रबन्धक
GenericName[nl]=Pakketbeheer
GenericName[pl]=Zarządzanie pakietami
GenericName[pt]=Gestor de Pacotes
GenericName[pt_BR]=Gerenciador de Pacotes
GenericName[ru]=Менеджер Пакетов
GenericName[sk]=Správca balíčkov
GenericName[sq]=Përgjegjës Paketash
GenericName[sr]=Управник Пакета
GenericName[tr]=Paket Yöneticisi
GenericName[uk]=Керування пакунками
GenericName[zh_CN]=软件包管理器
GenericName[zh_TW]=軟體包管理器
Name[ast]=Deepin Package Manager
Name[bg]=Deepin Мениджър на пакети
Name[ca]=Gestor de paquets del Deepin
Name[cs]=Správce balíčků
Name[da]=Deepin pakkehåndtering
Name[de]=Deepin Paketverwaltung
Name[es]=Deepin Package Manager
Name[et]=Deepin pakihaldur
Name[fr]=Gestionnaire de paquets Deepin
Name[id]=Manajer Paket Deepin
Name[it]=Deepin Package Manager
Name[lt]=Deepin paketų tvarkytuvė
Name[ms]=Pengurus Pakej Deepin
Name[ne]=डिपिन प्याकेज प्रबन्धक
Name[nl]=Deepin Pakketbeheer
Name[pl]=Zarządzanie pakietami Deepin
Name[pt]=Deepin Package Manager
Name[pt_BR]=Gerenciador de Pacotes Deepin
Name[ru]=Менеджер Пакетов Deepin
Name[sk]=Deepin Správca balíčkov
Name[sq]=Përgjegjësi Deepin i Paketave
Name[sr]=Дипин Управник Пакета
Name[tr]=Deepin Paket Yöneticisi
Name[uk]=Керування пакунками Deepin
Name[zh_CN]=深度软件包管理器
Name[zh_TW]=Deepin 軟體包管理器

