Source: deepin-deb-installer
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper (>= 9),
 pkg-config,
 cmake,
 qt6-5compat-dev,
 qt6-base-dev,
 qt6-tools-dev-tools,
 qt6-tools-dev,
 qt6-svg-dev,
 libdtk6widget-dev,
 libdtk6gui-dev,
 libdtk6core-dev,
 libqapt-qt6-dev,
 libpolkit-qt6-1-dev,
 libgtest-dev,
 deepin-gettext-tools,
 dde-file-manager-dev,
Standards-Version: 4.3.0
Homepage: https://www.deepin.com/

Package: deepin-deb-installer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libqapt3-qt6-runtime,
 libqapt3-qt6,
# deepin-app-store-runtime is available in the community edition.
 deepin-elf-verify | deepin-app-store-runtime,
 deepin-elf-sign-tool | deepin-app-store-runtime
Description: Package Installer helps users install and remove local packages.
 Package Installer is an easy-to-use .deb package management tool
 with a simple interface for users to quickly install customized applications
 not included in App Store supporting bulk installation, version identification
 and auto completion.
Recommends: uos-reporter, deepin-event-log
