[Desktop Entry]
Categories=System;
Keywords=package;installer;deepin;dde;dpkg;apt;
Comment=Package Installer helps users install and remove local packages, and supports bulk installation.
Exec=deepin-deb-installer %F
GenericName=Package Installer
Icon=deepin-deb-installer
MimeType=application/vnd.debian.binary-package;application/x-deb;application/x-ddim;
Name=Package Installer
StartupNotify=false
Terminal=false
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=مثبت الحزم: يساعد المستخدمين على تثبيت وإزالة الحزم المحلية، ويدعم أيضاً الثبيت الجماعي للحزم.
Comment[bg]=Deepin Мениджър на пакети се използва, за да помогне на потребителите да инсталират и премахват локален пакет, поддръжка на групово инсталиране.
Comment[bo]=མཉེན་ཆས་ཁུག་སྒྲིག་སྦྱོར་ཆས་ནི་སྤྱོད་མཁན་ལ་རང་སའི་མཉེན་ཆས་སྒྲིག་སྦྱོར་དང་བཤིག་འདོན་བྱེད་རོགས་བྱེད་པའི་ཡོ་བྱད་ཅིག་རེད་ལ། ཉེར་སྤྱོད་མང་པོ་མཉམ་དུ་སྒྲིག་སྦྱོར་བྱ་ཐུབ།
Comment[br]=Ar stalier pakadoù a sikour an implijaderien da staliañ ha da zilemel ar pakadoù lec'hel, hag e kemer e kont ar staliadur a-vloc'had.
Comment[ca]=L'Instal·lador de paquets ajuda els usuaris a instal·lar i eliminar paquets locals i admet la instal·lació massiva.
Comment[cs]=Instalátor balíčků slouží uživateli jako pomůcka pro instalaci a odebírání místních balíčků (tj. nepocházejících z repozitářů). Podporuje také hromadnou instalaci.
Comment[da]=Pakkeinstallationsprogram hjælpe brugere med at installere og fjerne lokale pakker, med understøttelse af masseinstallation.
Comment[de]=Das Paket-Installationsprogramm hilft Benutzern bei der Installation und Entfernung lokaler Pakete und unterstützt die Masseninstallation.
Comment[en_AU]=The Deepin Package Installer helps users install and remove local packages. It supports bulk package installation.
Comment[es]=Instalador de paquetes de Deepin ayuda a instalar y eliminar paquetes locales, y admite instalación en masa.
Comment[es_419]=El Gestor de Paquetes Deepin se usa para ayudar a los usuarios a instalar y eliminar paquetes locales, admite la instalación masiva.
Comment[et]=Deepin pakihaldur on rakendus, millega kasutajad saavad arvutisse tarkvara paigaldada ja seda sealt eemaldada. Toetab ka hulgipaigaldamist.
Comment[fi]=Ohjelmiston asentaja auttaa käyttäjiä asentamaan ja poistamaan ohjelmia.
Comment[fr]=Installateur de paquets aide les utilisateurs à installer et supprimer des paquets locaux et prend en charge l'installation en bloc.
Comment[gl_ES]=O instalador do paquete axuda aos usuarios a instalar e eliminar paquetes locais e admite a instalación masiva.
Comment[hi_IN]=पैकेज इंस्टॉलर द्वारा उपयोक्ता लोकल पैकेज इंस्टॉल व हटा सकते हैं, यह सामूहिक इंस्टॉल की सुविधा भी प्रदान करता है।
Comment[hu]=A Csomagtelepítő segít a felhasználóknak különféle csomagok telepítésében és eltávolításában, valamint támogatja a kötegelt telepítést.
Comment[id]=Manajer Paket Deepin digunakan untuk menolong para pengguna install dan menghapus paket lokal, mendukung install massal
Comment[it]=Il Gestore pacchetti è utile per installare e rimuovere software in locale, supporta inoltre l'installazione massiva. Localizzazione italiana a cura di Massimo A. Carofano.
Comment[ja]=パッケージ インストーラーは、ユーザーがローカル パッケージをインストールしたり削除したりするのに役立ちます。一括インストールにも対応しています。
Comment[ko]=패키지 설치 관리자는 사용자가 로컬 패키지를 설치하고, 제거할 수 있도록 지원하고 일괄 설치를 지원합니다.
Comment[lt]=Paketų diegimo programa padeda naudotojams įdiegti ir šalinti vietinius paketus bei palaiko masinį įdiegimą.
Comment[mn]=Деепин Багц Зохицуулагч нь хэрэглэгчдэд програм суулгах устгахад туслахаас гадна бүлэг суулгалтыг дэмждэг.
Comment[ms]=Pemasang pakej dapat membantu pengguna dan membuang pakej-pakej setempat, dan juga menyokong pemasangan pukal.
Comment[ne]=प्याकेज स्थापनाकर्ताले प्रयोगकर्ताहरूलाई स्थानीय प्याकेजहरू स्थापना र हटाउन मद्दत गर्दछ, र बल्क स्थापनालाई समर्थन गर्दछ।
Comment[nl]=Pakketinstallatie is een programma dat gebruikers helpt bij het installeren van lokale software.
Comment[pl]=Instalator pakietów pomaga użytkownikom instalować i usuwać pakiety lokalne oraz obsługuje instalację zbiorczą.
Comment[pt]=O Instalador de Pacotes ajuda os utilizadores a instalar e remover pacotes locais e suporta a instalação em massa.
Comment[pt_BR]=O Instalador de Pacotes ajuda os usuários a instalar e remover pacotes locais e suporta a instalação em massa.
Comment[ru]=Установщик Пакетов используется  для установки и удаления программного обеспечения и поддерживает массовую установку приложений.
Comment[sk]=Aplikácia Deepin Správca balíčkov slúži na pomoc používateľom pri inštalácii a odstraňovaní lokálnych balíčkov, podporuje hromadnú inštaláciu.
Comment[sq]=Instaluesi i Paketave i ndihmon përdoruesit të instalojnë dhe heqin paketa vendore, dhe mbulon instalime në masë.
Comment[sr]=Инсалатер пакета помаже корисницима да инсталирају и уклањају локалне пакете. Подржава групну инсталацију.
Comment[tr]=Paket Kurucu, kullanıcıların yerel paketleri kurmasına ve kaldırmasına yardımcı olur ve toplu kurulumu destekler.
Comment[ug]=ئورالما ئورناتقۇچ ئىشلەتكۈچىلەرنىڭ يەرلىك ئورالمىلارنى ئورنىتىشى ۋە ئۆچۈرۈشىگە ياردەم بېرىدۇ ھەمدە توپ قاچىلاشنى قوللايدۇ.
Comment[uk]=За допомогою засобу встановлення пакунків користувачі можуть встановлювати і вилучати локальні пакунки. Передбачено пакетне встановлення.
Comment[vi]=Trình cài đặt gói hỗ trợ người dùng cài đặt và xóa hàng loạt các gói phần mềm
Comment[zh_CN]=软件包安装器用于帮助用户安装和卸载本地软件，支持批量安装。
Comment[zh_HK]=軟件包安裝器用於幫助用戶安裝和卸載本地軟件，支持批量安裝。
Comment[zh_TW]=軟體包安裝器用來幫助使用者安裝和移除本機軟體包。支援批次安裝。
GenericName[ar]=مثبّت الحزم
GenericName[ast]=Xestor de paquetes
GenericName[bg]=Мениджър на пакети
GenericName[bo]=མཉེན་ཆས་ཁུག་སྒྲིག་སྦྱོར་ཆས།
GenericName[br]=Stalier pakadoù
GenericName[ca]=Instal·lador de paquets
GenericName[cs]=Instalátor balíčků
GenericName[da]=Pakkeinstallationsprogram
GenericName[de]=Paket-Installationsprogramm
GenericName[en_AU]=Package Installer
GenericName[es]=Instalador de paquetes
GenericName[es_419]=Gestor de Paquetes
GenericName[et]=Pakihaldur
GenericName[fi]=Ohjelmiston asentaja
GenericName[fr]=Installateur de paquets
GenericName[gl_ES]=Instalador do paquete
GenericName[hi_IN]=पैकेज इंस्टॉलर
GenericName[hu]=Csomagtelepítő
GenericName[id]=Manajer Paket
GenericName[it]=Gestore pacchetti
GenericName[ja]=パッケージ インストーラー
GenericName[ko]=패키지 관리자
GenericName[lt]=Paketų diegimo programa
GenericName[mn]=Багц Зохицуулагч
GenericName[ms]=Pemasang Pakej
GenericName[ne]=प्याकेज स्थापनाकर्ता
GenericName[nl]=Pakketinstallatie
GenericName[pa]=ਪੈਕੇਜ ਮੈਨੇਜਰ
GenericName[pl]=Instalator pakietów
GenericName[pt]=Instalador de Pacotes
GenericName[pt_BR]=Instalador de Pacotes
GenericName[ru]=Установщик Пакетов
GenericName[sk]=Správca balíčkov
GenericName[sq]=Instalues Paketash
GenericName[sr]=Инсталатер Пакета
GenericName[tr]=Paket Kurucu
GenericName[ug]=بوغچا قاچىلىغۇچ
GenericName[uk]=Встановлювач пакунків
GenericName[vi]=Trình cài đặt gói
GenericName[zh_CN]=软件包安装器
GenericName[zh_HK]=軟件包安裝器
GenericName[zh_TW]=軟體包安裝器
Name[ar]=مثبّت الحزم
Name[ast]=Xestor de paquetes
Name[bg]=Мениджър на пакети
Name[bo]=གཏིང་ཟབ་མཉེན་ཆས་ཁུག་སྒྲིག་སྦྱོར་ཆས།
Name[br]=Stalier pakadoù Deepin
Name[ca]=Instal·lador de paquets del Deepin
Name[cs]=Deepin instalátor balíčků
Name[da]=Pakkeinstallationsprogram
Name[de]=Deepin Paket-Installationsprogramm
Name[en_AU]=Package Installer
Name[es]=Instalador de paquetes
Name[es_419]=Gestor de Paquetes
Name[et]=Pakihaldur
Name[fi]=Deepin pakettien asentaja
Name[fr]=Installateur de paquets Deepin
Name[gl_ES]=Instalador do paquete de Deepin
Name[hi_IN]=दीपिन पैकेज इंस्टॉलर
Name[hu]=Deepin® Csomagtelepítő
Name[id]=Manajer Paket
Name[it]=Gestore pacchetti di Deepin
Name[ja]=Deepin パッケージ インストーラー
Name[ko]=Deepin 패키지 설치도구
Name[lt]=Paketų diegimo programa
Name[mn]=Багц Зохицуулагч
Name[ms]=Pemasang Pakej
Name[ne]=प्याकेज स्थापनाकर्ता
Name[nl]=Deepin Pakketinstallatie
Name[pa]=ਪੈਕੇਜ ਮੈਨੇਜਰ
Name[pl]=Instalator pakietu Deepin
Name[pt]=Instalador de Pacotes Deepin
Name[pt_BR]=deepin Instalador de Pacotes
Name[ru]=Установщик Пакетов Deepin
Name[sk]=Správca balíčkov
Name[sq]=Instalues Paketash Deepin
Name[sr]=Дипин Инсталатер Пакета
Name[tr]=Deepin Paket Kurucu
Name[ug]=Deepin بوغچا قاچىلىغۇچ
Name[uk]=Засіб встановлення пакунків Deepin
Name[vi]=Trình cài đặt gói
Name[zh_CN]=深度软件包安装器
Name[zh_HK]=Deepin 軟件包安裝器
Name[zh_TW]=Deepin 軟體包安裝器

